/*
 Author: Idrogen Media 
 Year: 2018
 Website: http://idrogenmedia.com
*/

/*.dropdown .hover-dropdown {
    color: inherit;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

<<<<<<< HEAD
#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header {
    padding: 20px 0;
    height: 74px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../images/background3.jpg") no-repeat;
  background-size: cover;
}

#intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #0070ba;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 700;
}



#intro .intro-content h2 span {
  color: #BF3A6B;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 34px;
  }
}

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  box-shadow: 10px 10px 15px rgba(45, 48, 56, 0.1);
}

.no-underline {
  text-decoration: none!important;
}

#intro .intro-content .btn-get-started {
  background: #0070ba;
  border: 1px solid #0070ba;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  transition: 0.4s;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0070ba;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#intro .intro-content .btn-projects {
  background: #BF3A6B;
  border: 1px solid #BF3A6B;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #BF3A6B;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background-color: rgba(240, 240, 240, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}
=======
>>>>>>> 1d1880fcd21cdcb7e66162bdbb9d03adc5337e56

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-transform: uppercase;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: cornflowerblue;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carousel.vertical .carousel-indicators {
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0;
    padding: 0;
}
.carousel.vertical .carousel-indicators li {
    display: block;
    width: 0px;
    height: 0px;
    margin: 5px 0;
}
.carousel.vertical .carousel-indicators img {
    margin: 5px;
    height: 35px;
    border: 1px solid white;
}

.carousel.vertical .carousel-indicators li:hover img {
    height: 40px;
}

.carousel.vertical .carousel-indicators > li.active > img {
    height: 50px;
    border: 1px solid deeppink;
}
*/


/*general*/
/*===================*/

.blue-text {
    color: #0070BA;
}

.pink-text {
    color: #BF3A6B;
}

.round-icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 3px;
    cursor: pointer;
    border-radius: 150px;
    margin-bottom: 15px;
    padding: 10px !important;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 5px 0px 5px lightgray ;
}

.round-icon:hover {
    box-sizing: border-box;
    box-shadow: 5px 0px 5px #6E7788 ;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
}

.orange-icon {
    color: orange !important;
    border: 2px solid orange;
}

.orange-icon:hover {
    color: white !important;
    background-color: orange;
}

.blue-icon {
    color: #0070BA !important;
    border: 2px solid #0070BA;
}

.blue-icon:hover {
    color: white !important;
    background-color: #0070BA;  
}

.pink-icon {
    color: #BF3A6B !important;
    border: 2px solid #BF3A6B;
}

.pink-icon:hover {
    color: white !important;
    background-color: #BF3A6B;  
}

.gray-icon {
    color: #6E7788 !important;
    border: 2px solid #6E7788;
}

.gray-icon:hover {
    color: white !important;
    background-color: #6E7788;
}

.gray-text {
    color: #6E7788;
}

.portfolio-item {
    padding: 2px !important;
    cursor: pointer;
}

.portfolio-item .active {
    display: block;
    width: 80vw;
}

.btn-pink {
    background-color: #BF3A6B !important;
}

.btn-blue {
    background-color: #0070BA !important;
}

.btn-gray {
    background-color: #6E7788;  
}

.portfolio-modal {
    width: 100vw;
    height: 70vh;
    max-width: 100% !important;
    max-height: 100% !important;
    border: 0px;
}

.heading-large {
    font-weight: 700 !important;
    font-size: 50pt !important;
    line-height: 80px;
}

.heading-medium {
    font-weight: 500 !important;
    font-size: 40pt !important;
    line-height: 55px;
}


/*footer*/
/*===================*/

#footer {
    margin-top: 5%;
    padding: 5px;
    padding-top: 2em;
    display: block;
    line-height: 1.15;
    /*text-size-adjust: 100%;*/
    /*height: 10px;*/
    background-color: #343a40;
    color: #adb5bd !important;
    /*color: white;*/
    -webkit-box-flex: 0;
    -webkit-box-direction: normal;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.footer-title {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #868e96;
    letter-spacing: 0.1em;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}

.footer-text-block {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
    color: #ffff;
}

.footer-text-block > a {
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
    display: block;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    /*color: rgb(173, 181, 189);*/
    color: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    line-height: 1.15;
    text-size-adjust: 100%;
}

.footer a:hover{
    color: #71AEEF;
    transform: scale3d(1.1, 1.1, 1.1);
}

.footer-text-block > li {
    display: block !important;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

/*.footer-end {
    background-color: black;
    height: auto;
    width: 100vw;
    float: none;
    margin: 0px !important;
    display: block;
    box-sizing: border-box;
}*/